*{
    padding: 10p;
    margin: 0;
    font-family: Poppins;
    box-sizing: border-box;
}

header{
    background-color: #71B2C5;
    text-align: center;
    padding: 40px;
    color: #dbf3f6;
    font-size: 45px;
}

h2{
    color: #2e83a8;
    font-size: 70px;
}


.logo{
    background-position: center;
    margin: 0px;
    width: 1000px;
    height: 1000px;

    border-radius: 20px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#imagem{
    background-image: url('../img/logo.png');
}

.card32{
    width: 500px;
    height: 1000px;
    margin: 20%;
    font-size: 24px;
    color: #23637e;
    font-weight: bold;
}

.cards{
    width: 600px;
    height: 1000px;
    display: inline-block;
    padding-top: 76px;
    
}

.card{
    width: 40%;
    height: 1000px;
    padding: 76px;
    background-color: #bfd0e6;
    margin: 1px;

    border-radius: 20px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.container{
    justify-content: center;
    align-items: center;
    display: inline-flex;
    align-items: center;
    background-color: #ffffff;
    min-height: 10vh;
    padding: 30px;
    text-align: center;
    width: 100vw;
}

.central{
    display: flex;
    justify-content: center;
}


.bnt{
    display: block;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #2e83a8;
    color: #fff;
    padding: 15px;
    border-radius: 17px;
    margin: 25%;
}

footer{
    background-color: #79bace;
    text-align: center;
    padding: 80px;
    color: #fff;
    margin-top: 80px;
}